.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Ignore Excalidraw files
content/Excalidraw/*

# Ignore Resources files
content/*/Resources.md

# Ignore ToDo files
content/*ToDo.md

content/archive/*

content/*/*notes.md